body {

}

.maincolor {
  color: #474a4d;
}

.subcolor {
  color: #595857;
}

.aligncenter {
  text-align: center;
}

.header {
  font-size: 64px;
}

.welcome {
  font-size: 18px;
}

.menu {
  font-size: 32px;
}

.link {
  text-decoration: none;
  user-select: none;
}

.mainname {
  font-size: 32px;
  font-weight: bold;
}

.mainname-small {
  font-size: 18px;
}

.actualname {
  font-size: 28px;
  font-weight: bold;
}

.actualname-small {
  font-size: 14px;
}

.subtitle {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 4px;
}

.description {
  width: 100%;
  font-size: 16px;
  letter-spacing: 1.6px;
}